@import "../../styles/variables.scss";

.ship {
  color: $white;
  text-decoration: none;
  padding: 0;
  margin: 0;

  &__item {
    width: 304px;
    background-color: $dark-gray-bg;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
    margin-top: 8px;
  }

  &__item:hover {
    background-color: $color-hover-bg;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    word-break: break-word;
    margin: 0;
  }

  &__detail {
    display: inline-block;
    width: 40px;
    margin-right: 24px;
    color: $color-detail-name;
  }

  &__paragraph {
    margin: 0;
    margin-top: 16px;
  }
}

@media (min-width: $tablet-width) {
  .ship__item {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .ship {
    &__item {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
      margin-top: 16px;
    }

    &__detail {
      width: fit-content;
    }

    &__wrapper {
      justify-content: space-between;
      width: 396px;
      display: flex;
    }
  }
}
