$black: #151619;
$white: #f2f2f2;
$dark-gray-bg: #22242a;
$light-gray-bg: #393C46;
$color-label: #C5C7CE;
$color-gradient-first: #BC75FF;
$color-gradient-second: #798FFF;
$color-hover-bg: #393C46;
$color-hover-bg-dark: #282a31;
$color-detail-name: #818798;

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;