@import "../../styles/variables.scss";


.filter {
  border-top: 1px solid $dark-gray-border;
  border-bottom: 1px solid $dark-gray-border;

  padding-bottom: 30px;
}

.row {
  display: flex;
}

.mistake {
  min-height: 40px;
  margin: 0;
  min-width: 250px;
  color: $color-mistake;
  line-height: 40px;
}

.input {
  all: unset;
  background-color: $light-gray-bg;
  width: 180px;
  height: 41px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.5s ease-out;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.input_wrapper {
  width: 182px;
  position: relative;
  padding: 1px;
  transition: all 0.5s ease-out;
  border-radius: 5px;
  height: 43px
}

.input_wrapper:focus-within {
  background: linear-gradient(
    to bottom,
    $color-gradient-first,
    $color-gradient-second
  );
}

.select {
  margin-bottom: 20px;
  padding: 10px 5px;
}

.select,
.button {
  line-height: 30px;
  margin-right: 20px;
  width: 100px;
  color: $white;
  background-color: $dark-gray-bg;
  border: 1px solid $dark-gray-border;
  border-radius: 5px;
}

.button_submit {
  width: 180px;
  margin-right: 0;
}

.button:hover {
  background-color: $light-gray-bg;
  cursor: pointer;
}

