@import "../../styles/variables.scss";

.button {
  width: 112px;
  display: flex;
  color: $white;
  background-color: $black;
  padding: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  line-height: 22.4px;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 16px;
  transition: all 0.2s ease-in-out;

  .text {
    padding-left: 8px;
  }
}

.button:hover {
  background-color: $color-hover-bg;
}

@media (min-width: $tablet-width) {
  .button {
    margin-left: 20px;
  }
}
